table {
  font-size: 1.2em;
}

input[type="text"], button {
  font-size: 1em;
}

button[type="submit"] {
  width: 12ex;
  height: 3em;
}

button#flip {
  height: 3em;
}

td.flip {
  vertical-align: bottom;
}

td.submit {
  vertical-align: bottom;
}

th.desc {
  text-align: left;
}

td.desc {
  max-width: 90ex;
}
